{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
<div>
<a href="{% url 'question_list' %}">
     برگشت
</a>
        <div class="row justify-content-md-center">
                <div class="col-lg-8">
                        <form method="POST" novalidate>
                                {% csrf_token %}
                                <div hidden>
                                        <input class="normal-example form-control" name="datecreate" id="id_datecreate"/>
                                        <input class="normal-example form-control" name="datecreatealt" id="id_datecreatealt"/>
                                        <input type="text" value="{{ request.user.id }}" name="user" required="" id="id_user">
                                        <input type="text" value="{{ pk }}" name="question" required="" id="id_question">
                                </div>
                                <fieldset>
                                        <legend><h1 class="title-page">ایجاد جواب</h1></legend>
                                        <div id="flash">
                                                {% if messages %}
                                                <ul class="messages">
                                                    {% for message in messages %}
                                                    {% if message.tags == "success" %}
                                                    <div class="alert alert-dismissible alert-success">
                                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                    </div>
                                                    {% endif %}
                                                    {% if message.tags == "error" %}
                                                    <div class="alert alert-dismissible alert-danger"">
                                                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                    </div>
                                                    {% endif %}
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                        </div>
                                        {{ form.media }}
                                        <div class="form-group">
                                                <label class="col-form-label mt-1 {% if form.descreption.errors %}is-invalid{% elif form.is_bound %}is-valid{% endif %}" for="descreption">جواب</label>
                                                {% if form.descreption.errors %}
                                                {% render_field form.descreption class="form-control is-invalid" style="height:100%;" %}
                                                {% for error in form.descreption.errors %}
                                                <div  style="text-align: right;color:#dc3545;">
                                                                <b>{{ error|escape }}</b>    
                                                                </div>
                                                {% endfor %}
                                                {% else %} 
                                                {% render_field form.descreption class="form-control" style="height:100%;border-color: rgb(5, 167, 26);" %}
                                                {% endif %}                                                                                             
                                        </div>
                                        <div class="form-group mb-3">
                                                <label class="col-form-label mt-1" for="name"></label>
                                                <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="form-check-input" name="correct_question" id="id_correct_question">
                                                        <label class="custom-control-label" for="id_correct_question">اگر جواب سوال، این گزینه هست، کلیک کنید.</label>
                                                </div>
                                        </div>
                                        <br>
                                        <button type="submit" class="btn btn-primary" onclick="result();" name="Save_list">ثبت</button>
                                        <button type="submit" class="btn btn-primary" name="Save_and_add">ثبت و ایجاد یکی دیگر</button>
                                </fieldset>
                        </form>
                </div>
        </div>
</div>
<script>
function result(){
        if (descreption == ""){
                $("#cke_id_descreption").css({"height": "100%","border-color": "red"});
        }
}
</script>
{% endblock %}