{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
<div>
<a href="{% url 'exam-list' %}">
     برگشت
</a>
        <div class="row justify-content-md-center">
                <div class="col-lg-8">
                        <form method="POST" novalidate>
                                {% csrf_token %}
                                <div hidden>
                                        <input class="normal-example form-control" name="datecreate" id="id_datecreate"/>
                                        <input class="normal-example form-control" name="datecreatealt" id="id_datecreatealt"/>
                                        <input type="text" value="{{ request.user.id }}" name="user" required="" id="id_user">
                                        <input type="text" value="{{ pk }}" name="quiz" required="" id="id_quiz">
                                </div>
                                <fieldset>
                                        <legend><h1 class="title-page">ایجاد سوال</h1></legend>
                                        {{ form.media }}
                                        <div class="form-group">
                                                <label class="col-form-label mt-1 {% if form.descreption.errors %}is-invalid{% elif form.is_bound %}is-valid{% endif %}" for="descreption">سوال</label>
                                                {% if form.descreption.errors %}
                                                {% render_field form.descreption class="form-control is-invalid" style="height:100%;" %}
                                                {% for error in form.descreption.errors %}
                                                <div  style="text-align: right;color:#dc3545;">
                                                                <b>{{ error|escape }}</b>    
                                                                </div>
                                                {% endfor %}
                                                {% else %} 
                                                {% render_field form.descreption class="form-control" style="height:100%;border-color: rgb(5, 167, 26);" %}
                                                {% endif %}                                                                                             
                                        </div>
                                        <br>
                                        <button type="submit" class="btn btn-primary" onclick="result();" name="Save_list">ثبت</button>
                                        <button type="submit" class="btn btn-primary" name="Save_and_add">ثبت و ایجاد یکی دیگر</button>
                                </fieldset>
                        </form>
                </div>
        </div>
</div>
<script>
function result(){
        if (descreption == ""){
                $("#cke_id_descreption").css({"height": "100%","border-color": "red"});
        }
}
</script>
{% endblock %}