{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
<div>
<a href="{% url 'dashboard' %}">
     برگشت
</a>
        <div class="row justify-content-md-center">
                <div class="col-lg-8">
                                <fieldset>
                                        <legend><h1 class="title-page">لیست سوال ها</h1></legend>
                                        <table class="table table-hover">
                                                <thead class="table-lite">
                                                        <tr>
                                                                <th>ردیف</th>
                                                                <th>تاریخ ایجاد</th>
                                                                <th>آزمون</th>
                                                                <th>سوال</th>
                                                                <th></th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                {% if delete_cat == 1 %} 
                                                        <tr><td colspan="4">این آزمون از طرف کاربران سفارش شده و نمی توانید آن را حذف کنید.<a href="{% url 'question-list' %}">برگشت به لیست</a></td></tr>
                                                {% else %}
                                                {% for question in question %}
                                                <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ question.datecreate }}</td>
                                                        <td>{{ question.quiz.name }}</td>
                                                        <td>{{ question.descreption|slice:20|safe }}</td>
                                                        <td>   
                                                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">عملیات</a>
                                                                <div class="dropdown-menu">
                                                                        <a class="dropdown-item" href="{% url 'question_edit' question.pk %}">اصلاح</a>
                                                                        <a class="dropdown-item" href="{% url 'question_delete' question.pk %}">حذف</a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item" href="{% url 'answer_create' question.pk %}">ایجاد جواب</a>
                                                                </div>
                                                        </td>
                                                </tr>
                                                {% endfor %}
                                                {% endif %}
                                                </tbody>
                                        </table>
                                </fieldset>
                </div>
        </div>
</div>
{% endblock %}